/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;   
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #f4f4f4 1px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
    display: inline;
}

/* Estilos para seções */

#home {
    background: #e8491d;
    color: #fff;
    padding-bottom: 30px;
    text-align: center;
}

#menu {
    background: #f4f4f4;
    color: #333;
    padding-bottom: 30px;
    text-align: center;
}

#about {
    background: #e8491d;
    color: #fff;
    padding-bottom: 30px;
    text-align: center;
}

#contact {
    background: #c0bebe;
    color: #333;
    padding-bottom: 30px;
    text-align: center;
}

/* Estilos para elementos individuais */

.menu-item {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff77;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
}

.menu-item h3 {
    color: #e8491d;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Media queries para responsividade */

@media(max-width: 768px) {
    header h1, header nav, header ul, header li {
        float: none;
        display: block;
        text-align: center;
    }

    header {
        padding-top: 20px;
    }

    #home, #menu, #abodireitut, #contact {
        padding-bottom: 20px;
    }
}
