body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;   
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #f4f4f4 1px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
    display: inline;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.gallery-item {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gallery-item img {
    width: 100%;
    height: auto;
}
.gallery-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
}
.gallery-item p {
    margin: 0 10px 10px;
    font-size: 1em;
    color: #6c757d;
}
/* Media queries para responsividade */

@media(max-width: 768px) {
    header h1, header nav, header ul, header li {
        float: inline-end;
        display: flex;
        text-align: justify;
    }

    header {
        padding-top: 20px;
    }

    #home, #menu, #abodireitut, #contact {
        padding-bottom: 10px;
    }
}